$primary: #111C55;
$secondary: #10C7E3;
$white: #ffffff;
$black: #000000;
$text-color: #787D98;
$wild-blue: #A1A8CB;
$alice-blue: #F6F9FE;
$stroke-color: #E8EBF0;
$orange : #FF7D36;
$green: #91C503;
$purple: #A681E3;
$gray : #979797;
$linkColor: #017CA4;

//font families
$font-bold : 'HKGrotesk-Bold';
$font-italic : 'HKGrotesk-Italic';
$font-light : 'HKGrotesk-Light';
$font-medium : 'HKGrotesk-Medium';
$font-regular : 'HKGrotesk-Regular';
$font-semiBold : 'HKGrotesk-SemiBold';

$o-font-bold : 'Amiri-Bold';
$o-font-boldItalic : 'Amiri-BoldItalic';
$o-font-italic : 'Amiri-Italic';
$o-font-regular : 'Amiri-Regular';
